extends layout

block content
  .row
    .col-10
      h1= title
    .col-2.text-end
      a.btn.btn-sm.btn-primary(role="button" href="/manage/articles/add" style="margin-top: 10px; margin-right: 8px") Add Article
  .mt-4
  table.table.table-striped
    thead
      tr
        th(scope="col") #
        th(scope="col") Title
        th(scope="col") Author
        th(scope="col") Category
        th(scope="col") Date Published
        th(scope="col")
        th(scope="col")
    tbody
      each article, index in articles
        tr
          td.align-middle(scope="row")= index + 1
          td.align-middle= article.title
          td.align-middle= article.author
          td.align-middle= categories[article.category].title
          td.align-middle= moment(article.created_at).format('DD/MM/YYYY')
          td
            a.btn.btn-sm.btn-outline-secondary(role="button" href="/manage/articles/edit/" + index) Edit
          td
            a.btn.btn-sm.btn-outline-danger(role="button" href="/manage/articles/delete/" + index) Delete
